<!DOCTYPE html>
<html lang="en">

<head>
  <base target="_blank" />
  <meta charset="UTF-8" />
  <title>Home of Bryson</title>
  <meta property="og:title" content="BrysonDev" />
  <meta property="og:description" content="Welcome to Bryson's Website." />
  <meta name="author" content="Bryson" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/png" href="/favicon.ico" />
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
</head>

<body class="bg-dark">
  <div class="d-flex flex-column justify-content-center align-items-center centerpiece">
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="1000px" height="1000px" class="color-pink"
      viewBox="0 0 350.026360 351.098173" preserveAspectRatio="xMidYMid meet">
      <g transform="translate(-81.973640,430.678093) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
        <path d="M2465 4304 c-135 -13 -225 -28 -337 -56 l-128 -31 -21 -56 c-36 -96
-87 -311 -100 -421 -46 -396 94 -723 393 -917 60 -39 149 -83 167 -83 3 0 5
63 3 140 -5 171 8 272 54 409 53 160 131 289 257 427 112 123 361 281 565 359
l72 28 -27 17 c-52 31 -228 98 -329 124 -170 44 -440 72 -569 60z" />
        <path d="M1525 3963 c-117 -85 -303 -274 -387 -393 -127 -179 -239 -433 -283
-642 l-15 -71 41 -55 c165 -218 414 -395 639 -454 69 -18 112 -22 225 -22 205
0 349 40 538 151 l78 45 -108 53 c-227 110 -416 292 -522 503 -54 107 -97 238
-117 357 -19 119 -22 380 -4 504 6 45 10 85 8 87 -2 1 -44 -27 -93 -63z" />
        <path d="M3586 3864 c-109 -20 -306 -88 -399 -137 -234 -124 -398 -325 -466
-570 -34 -122 -51 -313 -33 -374 7 -21 10 -20 89 31 214 140 476 203 737 178
241 -23 459 -108 712 -277 l94 -63 0 38 c0 66 -41 282 -72 380 -90 285 -216
495 -427 713 -106 109 -96 106 -235 81z" />
        <path d="M3295 2760 c-156 -21 -282 -65 -417 -147 l-78 -47 75 -32 c269 -119
475 -321 578 -568 96 -228 127 -519 86 -810 -5 -38 -7 -71 -5 -74 11 -10 169
120 276 228 158 158 267 309 355 495 41 87 101 271 121 369 l17 85 -52 60
c-223 258 -486 409 -766 441 -99 11 -104 11 -190 0z" />
        <path d="M824 2375 c26 -290 143 -605 314 -845 37 -52 117 -146 178 -208 l111
-115 49 7 c243 35 489 128 643 241 149 110 266 265 322 428 37 108 60 267 52
368 l-6 77 -49 -38 c-67 -51 -206 -122 -299 -154 -164 -55 -395 -72 -575 -41
-221 39 -460 152 -727 345 -20 14 -20 14 -13 -65z" />
        <path d="M2728 2226 c6 -142 -9 -250 -54 -384 -108 -327 -385 -618 -778 -818
-53 -27 -96 -51 -96 -54 0 -8 76 -39 198 -81 348 -119 746 -124 1106 -15 l83
26 36 117 c56 181 80 343 73 483 -15 309 -147 558 -389 737 -52 37 -166 103
-180 103 -3 0 -2 -51 1 -114z" />
      </g>
    </svg>
    <h1 class="text-light text-name">
      Bryson.dev<span class="blink_">_</span>
    </h1>
    <span class="icons">
      <a href="https://www.youtube.com/channel/UCz2q0x316-j9Mj7baWZarng"><svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-play-btn-fill" viewBox="0 0 16 16">
        <path d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm6.79-6.907A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
      </svg></a>
      &nbsp;&nbsp;
      <a href="https://github.com/brysondev"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white"
          class="bi bi-github" viewBox="0 0 16 16">
          <path
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
        </svg></a>
      &nbsp;&nbsp;
      <a href="mailto:bryson@brysondev.io"><svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white"
          class="bi bi-envelope-fill" viewBox="0 0 16 16">
          <path
            d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
        </svg>
      </a>
    </span>
  </div>
</body>

</html>