h1,
p {
  font-family: "Bebas Neue", cursive;
}

svg {
  width: 5em;
  height: 5em;
}

.yt {
  width: 5.5em;
  height: 5.5em;
}

.text-name {
  font-size: 10em;
}

.color-pink {
  padding: 20px;
  width: 40em;
  height: 40em;
  filter: invert(40%) sepia(100%) saturate(7479%) hue-rotate(329deg)
    brightness(113%) contrast(115%);
}

@media screen and (max-width: 936px) {
  .color-pink {
    width: 20em;
    height: 20em;
  }
  .text-name {
    font-size: 5em;
  }
  svg {
    width: 2.5em;
    height: 2.5em;
  }
  .yt {
    width: 3em;
    height: 3em;
  }
}

.blink_ {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
